@model Moviemap.Web.Data.Entities.ReservationEntity

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ReservationEntity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QrCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QrCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-success">Back to List</a>
</div>
