@model Moviemap.Web.Data.Entities.ReservationEntity

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <div>
        @if (!string.IsNullOrEmpty(Model.Hour.Movie.LogoPath))
        {
            <img src="@Url.Content(Model.Hour.Movie.LogoPath)" alt="Image" style="width:200px;height:420px;max-width: 100%; height: auto; position: relative;" />
        }
    </div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hour.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hour.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            Chairs
        </dt>
        <dd>
            @foreach (var chair in Model.ReservationChairs)
            {
                @Html.DisplayFor(modelItem => chair.Chair.Name)
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hour.Room.Cinema.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hour.Room.Cinema.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-success">Back to List</a>
</div>
