@model IEnumerable<Moviemap.Web.Data.Entities.ReservationEntity>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QrCode)
            </th>
            <th>
                Movie
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                Chairs
            </th>
            <th>
                Room
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QrCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hour.Movie.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @foreach (var chairItem in item.ReservationChairs)
                {
                    @Html.DisplayFor(modelItem => chairItem.Chair.Name) 
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hour.Room.Name)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
